@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td,fieldset,figure{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
.dl_bigbox{
	width: 100%;
	height: 1310px;
	border-top: 128px solid black;
	position: relative;
}
.dl_bigbox .p1{
	text-align: center;
	font-size: 12px;
	margin-top: 30px;
}
.dl_bigbox h3{
	text-align: center;
	font-size: 22px;
	margin-top: 13px;
}
.xx_left{
	width: 572px;
	height: 356px;
	background: #f6f6f6;
	position: absolute;
	left: 115px;
	top: 110px;
}
.xx_left p{
	text-align: center;
	font-size: 16px;
	color: #757575;
	line-height: 25px;
}
.xx_left h5{
	text-align: center;
	font-size: 16px;
	font-weight: 100;
	margin-top: 25px;
}
.xx_right{
	width: 572px;
	height: 422px;
	background: #f6f6f6;
	position: absolute;
	left: 735px;
	top: 110px;
}
.xx_left input{
	width: 512px;
	height: 48px;
	border:none;
	background: #f6f6f6;
	font-size: 16px;
	border-bottom: 1px solid #757575;
}
.input1{
	position: absolute;
	left: 28px;
	top: 85px;
}
.input2{
	position: absolute;
	left: 28px;
	top: 150px;
}
.tj_dl{
	width: 340px;
	height: 64px;
	background: black;
	position: absolute;
	left: 115px;
	top: 235px;
}
.tj_dl a{
	display: block;
	width: 340px;
	height: 64px;
}
.tj_dl p{
	font-size: 	12px;
	color: white;
	text-align: center;
	line-height: 64px;
}
.xx_left .tj_dl:hover{
	top:230px;
}
.dl_bottom{
	width: 350px;
	height: 36px;
	background: #f6f6f6;
	position: absolute;
	left: 105px;
	top: 310px;

}
.dl_bottom input{
	width:13px;
	height: 13px;
	margin-top: 13px;
	margin-left: 23px;
}
.dl_bottom p{
	font-size: 15px;
	color: black;
	position: absolute;
	left: 45px;
	top: 7px;	
}
.dl_bottom a{
	font-size: 16px;
	color: #757575;
	position: absolute;
	left: 260px;
	top: 7px;
}
.xx_right h5{
	text-align: center;
	font-size: 16px;
	font-weight: 100;
	margin-top: 25px;
}
.xx_right p{
	text-align: center;
	font-size: 16px;
	color: #757575;
	line-height: 25px;
}
.tj_zc{
	width: 340px;
	height: 64px;
	background: black;
	position: absolute;
	left: 115px;
	top: 108px;
}
.tj_zc a{
	display: block;
	width: 340px;
	height: 64px;
}
.tj_zc p{
	font-size: 	12px;
	color: white;
	text-align: center;
	line-height: 64px;
}
.xx_right .tj_zc:hover{
	top:98px;
}
.right_bottom{
	width: 295px;
	height: 200px;
	background: #f6f6f6;
	position: absolute;
	left: 140px;
	top: 195px;
}
.right_bottom b{
	font-size: 12px;
	position: absolute;
	left: 134px;
	top: 10px;
}
.right_bottom h5{
	font-size: 12px;
	margin-top: 0px;
}
.right_bottom .h5_1{
	margin-top: 50px;
}
.right_bottom p{
	font-size: 12px;
	color: #757575;
}
.dd_box{
	width: 100%;
	height: 655px;
	position: absolute;
	top: 565px;
	border-bottom: 1px solid #c9c9c9;
}
.dd_box h5{
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
}
.dd_box p{
	font-size: 16px;
	color: #757575;
	text-align: center;
	margin-top: 9px;
}
.dd_box input{
	width: 545px;
	height: 46px;
	font-size: 16px;
	border:none;
	border-bottom: 1px solid #757575;
}
.dd_box .input1{
	position: absolute;
	left: 435px;
	top: 95px;
}
.dd_box .input2{
	position: absolute;
	left: 435px;
	top: 165px;
}
.dd_box .input3{
	position: absolute;
	left: 435px;
	top: 235px;
}
.dd_box span{
	display: block;
	width: 545px;
	height: 46px;
	font-size: 16px;
	color: #757575;
	border-bottom: 1px solid #757575;
	position: absolute;
	left: 435px;
	top: 305px;
}
.ckdd_box{
	width: 340px;
	height: 64px;
	background: black;
	position: absolute;
	left: 545px;
	top: 400px;
}
.ckdd_box a{
	display: block;
	width: 340px;
	height: 64px;
}
.ckdd_box p{
	font-size: 	12px;
	color: white;
	text-align: center;
	line-height: 64px;
	margin-top: 0px;
}
.dd_box .ckdd_box:hover{
	top:390px;
}
.dd_box .p_1{
	font-size: 12px;
	font-weight: 800;
	color: black;
	position: absolute;
	left: 668px;
	top: 615px;
}
.gkfw_box{
	width: 100%;
	height: 93px;
	position: absolute;
	top: 1221px;
}
.gkfw_left{
	width: 700px;
	height: 93px;
}
.gkfw_box h5{
	font-size: 13px;
	text-align: center;
	margin-top: 15px;
}
.gkfw_box p{
	font-size: 12px;
	color: #757575;
	text-align: center;
}
.gkfw_box span{
	display: block;
	width: 0px;
	height: 80px;
	border-left: 1px solid #c9c9c9;
	position: absolute;
	left: 710px;
	top: 9px;
}
.gkfw_box .a1{
	position: absolute;
	left: 840px;
	top: 28px;
}
.gkfw_box .a2{
	position: absolute;
	left: 1080px;
	top: 26px;
}
.gkfw_box .a2 img{
	width: 19px;
	height: 17px;
	margin-left: 14px;
}
.gkfw_box .a2 p{
	margin-top: 4px;
}



