@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td,fieldset,figure{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
.nav_xl .nav_a{
	border-bottom: 5px solid black;
}
.xl_box{
	width: 100%;
	height: 3555px;
	border-top: 128px solid black;	
	position: relative;
}
.xl_box .img01{
	width: 100%;
}
.xl_box h3{
	font-size: 24px;
	text-align: center;
	margin-top: 33px;
}

.xl_box p{
	font-size: 16px;
	text-align: center;
	margin-top: 45px;
}
.box_nv{
	width: 100%;
	height: 561px;
}
.box_nv a .img2{
	width: 1122px;
	height: 561px;
	position: absolute;
	left: 145px;
	top: 870px;
}
.box_nv a p{
	font-size: 39px;
	color: white;
	position: absolute;
	left: 590px;
	top: 1090px;
}
.box_nan{
	width: 100%;
	height: 561px;
}
.box_nan a .img3{
	width: 1122px;
	height: 561px;
	position: absolute;
	left: 145px;
	top: 1450px;
}
.box_nan a p{
	font-size: 39px;
	color:white;
	position: absolute;
	left: 630px;
	top: 1655px;
}
.box_xia{
	width: 100%;
	height: 561px;
}
.box_xia a .img4{
	width: 1122px;
	height: 561px;
	position: absolute;
	left: 145px;
	top: 2030px;
}
.box_xia a p{
	font-size: 39px;
	color:white;
	position: absolute;
	left: 670px;
	top: 2250px;
}
.xl_box .a1{
	font-size: 16px;
	position: absolute;
	left: 670px;
	top: 2660px;
	color: black;
}
.xl_box .p1{
	font-size: 16px;
	position: absolute;
	top: 2780px;
	left: 690px;
}
.box_ts{
	width: 100%;
}
.box_ts a img{
	width: 100%;
	position: absolute;
	top: 2860px;
}
.box_ts a p{
	font-size: 12px;
	color: white;
	position: absolute;
	top: 3460px;
	left: 685px;
}